<!DOCTYPE html>
<html lang="en">

<head>

  <title>Natural Language Processing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Natural language processing web app project for Udacity Front End Web
          Developer Nanodegree Program.">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">

</head>

<body>

<div class="header">
  <h1>Natural Language Processing</h1>
</div>

<div class="container--center">

    <div class="input-form">
      <form>
        <div class="container--center">
          <p>Some instructions go here.</p>
          <input class="input-field__text" type="text" id="url-field" name="zipcode"
                 placeholder="Copy URl to news article here">
          <input type="button" onclick="formSubmit()" value="Extract" class="input-field__button"
                 id="extract">
        </div>
      </form>
    </div>

  <div class="input-field">
    <textarea class="input-field__textarea" id="text-area" name="text-area"
              placeholder="... or copy/enter text here."></textarea>
  </div>


  <div class="container--column">

    <div id="placeholder"></div>

  </div>

</div>

</body>

</html>