<!DOCTYPE html>
<html lang="en">

<head>

  <title>Natural Language Processing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Natural language processing web app project for Udacity Front End Web
          Developer Nanodegree Program.">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
  <!-- Bootstrap library for spinner -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>

<div class="header">
  <h1>Natural Language Processing</h1>
</div>

<div class="container--row center">
  <div class="container--column max-width-700">

    <div class="input-form">
      <form>
        <div class="container--column">
          <p class="margin-10-20 margin-top-20">Welcome to the sentiment analysis web app!</p>
          <p class="margin-10-20">In the input field below copy the URL to a news article
            and press the "Extract" button. In the large text field below you can edit the text
            extracted from the website. Alternatively you can enter any text you wish to
            analyse directly in the large text field below.</p>
          <p class="margin-10-20">A few examples to get you going:</p>
          <ul class="margin-10-20 list">
            <li class="list-item">https://www.theonion.com/toddler-cites-freedom-of-choice-in-refusal-to-use-potty-1847466497</li>
            <li class="list-item">"The blind leading the blind."</li>
            <li class="list-item">"Main dishes were quite good, but desserts were too sweet for me."</li>
            <li class="list-item">"The restaurant was great even though it’s not near Madrid."</li>
          </ul>


          <input class="input-field__text margin-10-20 pad-10" type="text" id="url-field" name="url"
                 placeholder="Copy URL to news article here">
          <p class="error" id="error"></p>
          <input class="margin-10-20 pad-10" type="button"
                 onclick="client.component.formSubmit()" value="Extract"
                 class="input-field__button" id="extract">
        </div>
      </form>
    </div>

    <div class="container--row">
    <textarea class="margin-10-20 pad-10 fl-gr-3" id="text-area" name="text-area"
              placeholder="... or copy/enter text here." rows="20" cols="20"></textarea>
      <div class="container--column margin-10-20 fl-gr-1 max-width-250">
        <p class="pad-bottom-1em">
          Results from sentiment analysis with <a href="https://www.meaningcloud.com"
                                                  target="_blank">MeaningCloud</a>
        </p>
        <div class="container--relative">
          <div class="table">
            <div class="table-row">
              <div class="table-cell">Model:</div>
              <div class="table-cell" id="analysis-model"></div>
            </div>
            <div class="table-row">
              <div class="table-cell">Score tag:</div>
              <div class="table-cell" id="analysis-score-tag"></div>
            </div>
            <div class="table-row">
              <div class="table-cell">Agreement:</div>
              <div class="table-cell" id="analysis-agreement"></div>
            </div>
            <div class="table-row">
              <div class="table-cell">Subjectivity:</div>
              <div class="table-cell" id="analysis-subjectivity"></div>
            </div>
            <div class="table-row">
              <div class="table-cell">Confidence:</div>
              <div class="table-cell" id="analysis-confidence"></div>
            </div>
            <div class="table-row">
              <div class="table-cell">Irony:</div>
              <div class="table-cell" id="analysis-irony"></div>
            </div>
          </div>
          <div class="spinner-border text-muted spinner-pos spinner__hidden" id="spinner"></div>
        </div>
      </div>
    </div>

  </div>
</div>

</body>

</html>