<!DOCTYPE html>
<html lang="en">

<head>

  <title>Natural Language Processing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Natural language processing web app project for Udacity Front End Web
          Developer Nanodegree Program.">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">

</head>

<body>

<div class="header">
  <h1>Natural Language Processing</h1>
</div>

<div class="container--row center">
  <div class="container--column max-width-900">

    <div class="input-form">
      <form>
        <div class="container--column">
          <p class="margin-10-20">Some instructions go here.</p>
          <input class="input-field__text margin-10-20 pad-10" type="text" id="url-field" name="zipcode"
                 placeholder="Copy URl to news article here">
          <input class="margin-10-20 pad-10" type="button"
                 onclick="client.component.formSubmit()" value="Extract"
                 class="input-field__button" id="extract">
        </div>
      </form>
    </div>

    <div class="container--row">
    <textarea class="margin-10-20 pad-10" id="text-area" name="text-area"
              placeholder="... or copy/enter text here." rows="20" cols="60"></textarea>
      <p class="margin-10-20">
        Some text goes here. Some text goes here. Some text goes here. Some text goes here.
      </p>
    </div>

  </div>
</div>

</body>

</html>