body {
  font-family: 'Roboto', sans-serif;
}

.container--column {
  display: flex;
  flex-direction: column;
}

.container--row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}

.margin-10-20 {
  margin: 10px 20px;
}

.error {
  margin: 0 20px 10px 20px;
  color: crimson;
}

.margin-top-20 {
  margin-top: 20px;
}

.pad-10 {
  padding: 10px;
}

.pad-bottom-1em {
  padding-bottom: 1em;
}

.max-width-900 {
  max-width: 900px;
}

.table {
  display: table;
  border-collapse: collapse;
}

.table .table-row {
  display: table-row;
}

.table .table-cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  padding: 0 1em 1em 0;
}

.table .table-cell:first-child {
  width: 1%;
  white-space: nowrap;
}

.container--relative {
  position: relative;
}

.spinner-pos {
  position: absolute;
  top: 5em;
  left: 9em;
}

.spinner__hidden {
  visibility: hidden;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: xx-large;
  color: white;
  background-color: black;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field__button-box {
  padding: 0;
}

.debug-border--red {
  border: red 1px solid;
}

.debug-border--blue {
  border: blue 1px solid;
}

.debug-border--green {
  border: green 1px solid;
}
