body {
  font-family: 'Roboto', sans-serif;
}

.container--column {
  display: flex;
  flex-direction: column;
}

.container--row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}

.margin-10-20 {
  margin: 10px 20px;
}

.pad-10 {
  padding: 10px;
}

.max-width-900 {
  max-width: 900px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: xx-large;
  color: white;
  background-color: black;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field__button-box {
  padding: 0;
}

.debug-border--red {
  border: red 1px solid;
}

.debug-border--blue {
  border: blue 1px solid;
}

.debug-border--green {
  border: green 1px solid;
}
